.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    width: 340px;
    border: 1px solid var(--primary-color);
}

.profile-form__actions {
    display: flex;
    margin-top: 12px;
    gap: 4px;
}