.password-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
    width: 400px;
    border: 1px solid var(--primary-color);
}

.password-form__actions {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 4px;
}

