:root {
  --primary-color: #28ff2f;
  --secondary-color: #11fff3;
  --error-color: #fd4747;
  --warning-color: #ffb800;
  --neutral-color: #ededed;
  --bg-color: #191919;
  --font-family: "VT323", monospace;
  --font-size: 18px;
  --font-size-sm: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--primary-color);
  background-color: var(--bg-color);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}